::-webkit-input-placeholder { /* WebKit browsers */
    color:    #2F3E4C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #2F3E4C;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #2F3E4C;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #2F3E4C;
}

.header {
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

#app_name a {
  color: white;
  text-decoration: none;
}

.header_text {
  width: 100%;
  height: 70px;
}

#app_name {
  float: left;
  padding-left: 20px;
  font-size: 3em;
  line-height: 150%;
}

.header ul li a{
  color: white;
  padding-top: 50%;
  text-decoration: none;
  position: relative;
}

.header ul li a:hover{
  color: #F7FE2E;
}

.header ul li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
  line-height: 300%;
}


.header ul {
  height: 100%;
  padding-right: 20px;
  float: right;
  margin: 0;
  padding-left: 0;
}


#sign-in {
  width: 50%; 
  padding-left: 20px;
}

#sign-up {
  padding-left: 20px;
}

#create_survey {
  padding: 10px;
}

.profile_subheader {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

#surveys {
  margin: auto;
  height: 500px;
  width: 50%;
}

.survey_list {
  border: 1px solid black;
  width: 45%;
  margin-right: 20px;
}

.left {
  float: left;
  text-align: left;
  color: white;
  background-color: black;
  opacity: 0.7;
  border: 2px solid white;
}

.right {
  float: right;
  text-align: center;
  color:white;
  background-color: black;
  opacity: 0.7;
  border: 2px solid white;
}

.left a {
  color: white;
}

.right a {
  color:white;
}

.left a:hover {
  color: #2F3E4C;
}

.right a:hover {
  color: #2F3E4C;
}

body { 
  background: url('/images/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

tbody tr:first-child {
  height: 45px;
}

table {
  margin-bottom: 50px;
}

table:first-child {
  margin-bottom: 10px;
}

.container {
  background-color:rgba(0,0,0,0.7);
  border: 2px solid black;
  height: 425px;
  width: 100%;
  margin-top: 250px;
  color: #c6c6c6;
/*  padding-left: 20px;*/
}

.container input {
  height:30px;
  width:286px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-color:#cccccc;
  padding:0 10px;
}


.container h1{
  position: relative;
  left: 110px; 
}

#name_header{
  position: relative;
  left: 65px; 
}

.container #button {
  margin-left: 55px;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #353b42), color-stop(1, #2b4157) );
  background:-moz-linear-gradient( center top, #353b42 5%, #2b4157 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#353b42', endColorstr='#2b4157');
  background-color:#353b42;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:33px;
  line-height:33px;
  width:200px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}

.container #button :hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2b4157), color-stop(1, #353b42) );
  background:-moz-linear-gradient( center top, #2b4157 5%, #353b42 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b4157', endColorstr='#353b42');
  background-color:#2b4157;
}

.container #button :active {
  position:relative;
  top:1px;
