.header {
  color: white;
  background-color: black;
}

.header ul {
  height: 100%;
  padding-right: 20px;
  float: right;
  margin: 0;
  padding-left: 0;
}
.header ul li a{
  color: white;
  padding-top: 50%;
  text-decoration: none;
  position: relative;
}

.header ul li a:hover{
  color: #F7FE2E;
}

.header ul li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
  line-height: 300%;
}

#app_name {
  float: left;
  padding-left: 20px;
  font-size: 2em;
  line-height: 150%;
}

#app_name a {
  color: white;
  text-decoration: none;
}

.header_text {
  width: 100%;
  height: 50px;
}

.container {
  padding-left: 20px;
  background-color: #F2F2F2;
}

#sign-in {
  width: 50%; 
  padding-left: 20px;
}

#sign-up {
  padding-left: 20px;
}

body { 
  background-image:
}


#create_survey {
  padding: 10px;
}

