  <h1>Create Survey</h1>

  <form method="post" action="/survey/create">
    <table>
      <tr>
        <td><label class="label" for="email">Title</label></td>
        <td><input type="text" name="survey[title]" placeholder="Enter Title" value=""></td>
      </tr>
      
      <table id="question">
        <tr>
          <td><label class="label" for="question">Question</label></td>
          <td><input type="text" name="question[question_1]" placeholder="Enter Question"></td>
        </tr>
        <tr>
          <td><label class="label" for="choices">Choices</label></td>
        </tr>
        <% 3.times do |n| %>
          <tr id="choice_<%= n+1 %>">
            <td></td>
            <td><input type="text" name="choice[choice_<%= n+1 %>]" placeholder="Enter Choice <%= n+1 %>">
            </td>
            <td><a class="del_choice" href="#">Delete</a></td>
            <td><a class="add_choice" href="#">Add</a></td>
          </tr>
        <% end %>
      </table>
    </table>
    <div class="submit"><input type="submit" value="Create Survey"></div>
  </form>
