  <h1>Create Survey</h1>

  <form method="post" action="/survey/create">
    <table>
      <tr>
        <td><label class="label" for="email">Title</label></td>
        <td><input type="text" name="survey[title]" placeholder="Enter Title" value=""></td>
      </tr>
      <tr>
        <td><label class="label" for="question">Question</label></td>
        <td><input type="text" name="question_1[question]" placeholder="Enter Question"></td>
      </tr>
      <tr><td><label class="label" for="choices">Choices</label></td></tr>
      <% 3.times do |n| %>
        <tr id="choice_<%=n+1%>">
          <td></td>
          <td><input type="text" name="choice[choice_<%=n%>]" placeholder="Enter Choice <%= n + 1 %>">
          </td>
          <td id="del_choice"><a href="#">Delete</a></td>
          <td id="add_choice"><a href="#">Add</a></td>
        </tr>
      <% end %>
  <!--     <label class="label" for="password">Question</label>
      <input type="text" name="question" placeholder="Enter Question"><br> -->
    </table>
    <div class="submit"><input type="submit" value="Create Survey"></div>
  </form>
