  <h1>Create Survey</h1>

  <form method="post" action="/survey/create">
    <table>
      <tr>
        <td><label class="label" for="email">Title</label></td>
        <td><input type="text" name="survey[title]" placeholder="Enter Title" value=""></td>
      </tr>
      <tr>
        <td><label class="label" for="password">Question</label></td>
        <td><input type="text" name="question_1[question]" placeholder="Enter Question"></td>
      </tr>
      <tr>
        <td><label class="label" for="password">Choices</label></td>
        <td><input type="text" name="choice_1[choice]" placeholder="Enter Choice One"></td>
      </tr>
      <tr>
        <td></td><td><input type="text" name="choice_2[choice]" placeholder="Enter Choice Two"></td>
      </tr>
      <tr>
        <td></td><td><input type="text" name="choice_3[choice]" placeholder="Enter Choice Three"></td>
      </tr>
  <!--     <label class="label" for="password">Question</label>
      <input type="text" name="question" placeholder="Enter Question"><br> -->
    </table>
    <div class="submit"><input type="submit" value="Create Survey"></div>
  </form>
