<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  
  <nav class="header">
    <div class="header_text">
      <div id="app_name">
      <% if current_user %>
        <a href="/user/<%=current_user.id%>"> Gorilla Survey</a>
      <% else %>
        <a href="/"> Gorilla Survey</a>
      <% end %>
      </div>
      <ul>
        <% if current_user %>
          <li><a id="profile" href="/user/<%=current_user.id%>">Profile</a></li>
          <li><a id="sign-out" href="/sign-out">Sign Out</a></li>
        <% else %>
          <li><a href="/sessions/new">Sign In</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
