<h1>Create</h1>

<form id="create_survey" method="get" action="/survey/create">
  <div class="submit"><input type="submit" value="Create Survey"></div>
</form>

Take a Survey<br>
<% if @untaken_surveys %>
  <ul>
      <% @untaken_surveys.each do |u| %>
        <li>
          <a href="/survey/<%= u.id %>"><%= u.title %></a>
        </li>
      <% end %>
</ul>
<% end %>


My Surveys<br>
<% if @made_surveys %>
  <ul>
    <% @made_surveys.each do |u| %>
      <li>
        <a href="/survey/<%= u.id %>/results"><%= u.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>

